<p>home works!</p>
<br>

<div style="background-color: rgb(1, 138, 31);">
    <ng-content></ng-content>

</div>
<br>
<div style="background-color: rgb(82, 201, 201);">
 <ng-content select = "header"></ng-content>
 
</div>

<br>
<div style="background-color: blue;">
    <ng-content select = "body"></ng-content>

</div>

<br>

<div style="background-color: rgb(82, 7, 152);">
    <ng-content select = "footer"></ng-content>
</div>
<br>

<div style="background-color: blueviolet;">
    <ng-content select = ".solMenu"></ng-content>
</div>
<br>
<div style="background-color: rgb(155, 13, 13);">
    <ng-content select = ".ortaMenu"></ng-content>
</div>
<br>
<div style="background-color: rgb(197, 12, 151);">
    <ng-content select = ".sagMenu"></ng-content>
</div>