<app-home>
  <span style = "color:rgb(70, 19, 19);">Burası NgContent'in içeriğidir....AppComponent'den AppHome için oluşturulmuştur..Standart kullanım budur....</span>
  <header> Burası headerrrr NgContent içeriğidir. hazır keywordlerle ayrılmıştır...</header>
  <body> Burası body NgContent içeriğidir..hazır keywordlerle ayrılmıştır..</body>
  <footer> Burası footer NgContent içeriğidirrrr...hazır keywordlerle ayrılmıştır</footer>
  <div class="solMenu">Sol menünün içeriği buradadırrrr - özel oluşturulmuşturrrr</div>
  <div class="ortaMenu">Orta menünün içeriği buradadırrrr- özel oluşturulmuşturrrr</div>
  <div class="sagMenu" style="color: rgb(206, 196, 196);">Sağ menünün içeriği buradadırrrr- özel oluşturulmuşturrrr</div>


  Burası da boşta kalmış bir metin olsun bu metin de gidip standart NgContent içeriğinde gözükecektir... özel belirtilmediği sürece NgContent bu içerikleri yakalayıp alır...
</app-home>